.modal.folder-password-modal {
	width: 360px;

	.section {

		&.darken {
			padding: 16px;
		}

		label {
			display: block;
		}

		.select, .select select {
			display: block;
			width: 100%;
			margin-bottom: 0;
		}

		textarea {
			height: 72px;
            line-height: 1.5em;
		}
	}
}