.fake-svg {

	.icon-library & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_library.png) !important; }
	.icon-box & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_box.png) !important; }
	.icon-grid & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_grid.png) !important; }
	.icon-layer & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_layer.png) !important; }
	.icon-briefcase & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_briefcase.png) !important; }
	.icon-photo & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_photo.png) !important; }
	.icon-photos & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_photos.png) !important; }
	.icon-video & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_video.png) !important; }
	.icon-film & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_film.png) !important; }
	.icon-film2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_film2.png) !important; }
	.icon-film3 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_film3.png) !important; }
	.icon-music & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_music.png) !important; }
	.icon-book & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_book.png) !important; }
	.icon-book2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_book2.png) !important; }
	.icon-bookshelf & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bookshelf.png) !important; }
	.icon-keynote & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_keynote.png) !important; }
	.icon-camera & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_camera.png) !important; }
	.icon-aperture & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_aperture.png) !important; }
	.icon-attachment & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_attachment.png) !important; }
	.icon-scissors & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_scissors.png) !important; }
	.icon-palette & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_palette.png) !important; }
	.icon-wrench & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_wrench.png) !important; }
	.icon-helmet & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_helmet.png) !important; }
	.icon-life-buoy & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_life-buoy.png) !important; }
	.icon-graph & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_graph.png) !important; }
	.icon-graph2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_graph2.png) !important; }
	.icon-tableware & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_tableware.png) !important; }
	.icon-cog & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cog.png) !important; }
	.icon-bachelor-cap & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bachelor-cap.png) !important; }
	.icon-cones & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cones.png) !important; }
	.icon-dribbble & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_dribbble.png) !important; }
	.icon-email & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_email.png) !important; }
	.icon-business-card & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_business-card.png) !important; }
	.icon-coffee & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_coffee.png) !important; }
	.icon-cart & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cart.png) !important; }
	.icon-lightbulb & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_lightbulb.png) !important; }
	.icon-inspiration & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_inspiration.png) !important; }

	.icon-thumb-up & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_thumb-up.png) !important; }
	.icon-thumb-down & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_thumb-down.png) !important; }
	.icon-like & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_like.png) !important; }
	.icon-unlike & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_unlike.png) !important; }
	.icon-star & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_star.png) !important; }
	.icon-hot & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_hot.png) !important; }
	.icon-upload & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_upload.png) !important; }
	.icon-download & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_download.png) !important; }
	.icon-paid & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_paid.png) !important; }
	.icon-free & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_free.png) !important; }
	.icon-medical & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_medical.png) !important; }
	.icon-shield & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_shield.png) !important; }
	.icon-search & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_search.png) !important; }
	.icon-shortcuts & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_shortcuts.png) !important; }
	.icon-recycle & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_recycle.png) !important; }
	.icon-excalmation & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_excalmation.png) !important; }
	.icon-question & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_question.png) !important; }
	.icon-coin1 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_coin1.png) !important; }
	.icon-coin2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_coin2.png) !important; }
	.icon-coin3 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_coin3.png) !important; }
	.icon-coin4 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_coin4.png) !important; }
	.icon-wallet & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_wallet.png) !important; }
	.icon-watch & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_watch.png) !important; }
	.icon-clock & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_clock.png) !important; }
	.icon-calendar-week & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_calendar-week.png) !important; }
	.icon-calendar-month & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_calendar-month.png) !important; }

	.icon-eye & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_eye.png) !important; }
	.icon-bear & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bear.png) !important; }
	.icon-dog & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_dog.png) !important; }
	.icon-cat & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cat.png) !important; }
	.icon-man & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_man.png) !important; }
	.icon-woman & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_woman.png) !important; }
	.icon-group & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_group.png) !important; }
	.icon-smile & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_smile.png) !important; }
	.icon-meh & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_meh.png) !important; }
	.icon-frown & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_frown.png) !important; }
	.icon-die & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_die.png) !important; }
	.icon-baby & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_baby.png) !important; }
	.icon-kid & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_kid.png) !important; }
	.icon-angel & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_angel.png) !important; }
	.icon-demon & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_demon.png) !important; }
	.icon-hand & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_hand.png) !important; }
	.icon-brain & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_brain.png) !important; }

	.icon-website & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_website.png) !important; }
	.icon-phone & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_phone.png) !important; }
	.icon-tablet & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_tablet.png) !important; }
	.icon-desktop & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_desktop.png) !important; }
	.icon-tv & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_tv.png) !important; }
	.icon-cpu & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cpu.png) !important; }
	.icon-safari & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_safari.png) !important; }
	.icon-chrome & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_chrome.png) !important; }
	.icon-pie & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_pie.png) !important; }
	.icon-bar-chart & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bar-chart.png) !important; }
	.icon-line-chart & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_line-chart.png) !important; }
	.icon-2d & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_2d.png) !important; }
	.icon-3d & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_3d.png) !important; }
	.icon-contrast & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_contrast.png) !important; }
	.icon-texture & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_texture.png) !important; }
	.icon-transition & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_transition.png) !important; }
	.icon-animation & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_animation.png) !important; }
	.icon-spectrogram & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_spectrogram.png) !important; }
	.icon-font-sans & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_font-sans.png) !important; }
	.icon-font-sans-serif & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_font-sans-serif.png) !important; }
	.icon-font-handwritten & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_font-handwritten.png) !important; }
	.icon-facebook & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_facebook.png) !important; }
	.icon-twitter & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_twitter.png) !important; }
	.icon-instagram & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_instagram.png) !important; }

	.icon-flag & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_flag.png) !important; }
	.icon-earth & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_earth.png) !important; }
	.icon-pin & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_pin.png) !important; }
	.icon-pin-check & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_pin-check.png) !important; }
	.icon-map & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_map.png) !important; }
	.icon-road & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_road.png) !important; }
	.icon-motor & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_motor.png) !important; }
	.icon-rocket & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_rocket.png) !important; }
	.icon-airplan & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_airplan.png) !important; }
	.icon-ship & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_ship.png) !important; }
	.icon-train & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_train.png) !important; }
	.icon-car & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_car.png) !important; }
	.icon-truck & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_truck.png) !important; }
	.icon-water-drop & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_water-drop.png) !important; }
	.icon-sun & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_sun.png) !important; }
	.icon-moon & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_moon.png) !important; }
	.icon-tree & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_tree.png) !important; }
	.icon-mountain & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_mountain.png) !important; }
	.icon-cloud & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cloud.png) !important; }

	.icon-bathtub & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bathtub.png) !important; }
	.icon-door & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_door.png) !important; }
	.icon-bed & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_bed.png) !important; }
	.icon-cabinet & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_cabinet.png) !important; }
	.icon-sofa & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_sofa.png) !important; }
	.icon-home & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_home.png) !important; }
	.icon-store & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_store.png) !important; }
	.icon-house & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_house.png) !important; }
	.icon-game & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_game.png) !important; }
	.icon-weapon & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_weapon.png) !important; }
	.icon-armor & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_armor.png) !important; }
	.icon-award2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_award2.png) !important; }
	.icon-award & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_award.png) !important; }
	.icon-award3 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_award3.png) !important; }
	.icon-crown & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_crown.png) !important; }
	.icon-rophy & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_rophy.png) !important; }
	.icon-gift & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_gift.png) !important; }

	.icon-number0 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number0.png) !important; }
	.icon-number1 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number1.png) !important; }
	.icon-number2 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number2.png) !important; }
	.icon-number3 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number3.png) !important; }
	.icon-number4 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number4.png) !important; }
	.icon-number5 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number5.png) !important; }
	.icon-number6 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number6.png) !important; }
	.icon-number7 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number7.png) !important; }
	.icon-number8 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number8.png) !important; }
	.icon-number9 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number9.png) !important; }
	.icon-number10 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number10.png) !important; }
	.icon-number11 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number11.png) !important; }
	.icon-number12 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number12.png) !important; }
	.icon-number13 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number13.png) !important; }
	.icon-number14 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number14.png) !important; }
	.icon-number15 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number15.png) !important; }
	.icon-number16 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number16.png) !important; }
	.icon-number17 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number17.png) !important; }
	.icon-number18 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number18.png) !important; }
	.icon-number19 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number19.png) !important; }
	.icon-number20 & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_number20.png) !important; }

	.icon-all & {-webkit-mask-image: url(../assets/images/base/mask-icons/ic_all.png) !important; }
	.icon-unfield & {-webkit-mask-image: url(../assets/images/base/mask-icons/ic_unfield.png) !important; }
	.icon-smart-folder & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_smart-folder.png) !important; }
	.icon-folder-close & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_folder-close.png) !important; }
	.icon-folder-open & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_folder-open.png) !important; }
	.icon-library & { -webkit-mask-image: url(../assets/images/base/mask-icons/ic_library.png) !important; }
}