<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Eagle Font Viewer</title>
	<link rel="stylesheet" href="../fonts/fallback/fallback-outline.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="css/font-viewer.css">
</head>
<body 
	class="{{currentTheme}} {{lng}} {{::platform}}" 
    theme="{{getTheme()}}"
    platform="{{::platform}}"
	ng-app="FontViewerApp" 
	ng-controller="FontViewerController"
	w-mousetrap="
    {
    	'0': removeStar,
        '1': changeTo1Star,
        '2': changeTo2Star,
        '3': changeTo3Star,
        '4': changeTo4Star,
        '5': changeTo5Star,
        'left': leftHandler,
        'right': rightHandler,
        'enter': escHandler,
        'esc': escHandler,
        'backspace': escHandler,
        'space': escHandler,
        'mod+=': zoomIn,
        'mod++': zoomIn,
        'mod+-': zoomOut,
        'mod+0': zoomFit,
        'mod+9': zoomFit,
        'mod+backspace': preventDefault,
        'del': preventDefault,
    }"
>
<!-- ng-dblclick="escHandler()" -->
	<div class="page">
		<div class="header">
			<div class="font-name">
				<span
					data-placeholder="输入字体名称"
                    contenteditable="plaintext-only"
                    ng-model="newFontName"
                    ng-keydown="preventEnter($event)"
                    ng-blur="changeFontName()"
                    strip-br="false"
                    editable-selectall
				></span>
				<div ng-show="isActivate" ng-click="deactivateFont()" ng-class="{'activated' : isActivate}" class="activate-btn" tippy tippy-content="{{'Font.Deactivate' | i18n}}" tippy-placement="right"></div>
				<div ng-show="!isActivate" ng-click="activateFont()" ng-class="{'activated' : isActivate}" class="activate-btn" tippy tippy-content="{{'Font.Activate' | i18n}}" tippy-placement="right"></div>
			</div>
			<div class="font-postscript-name">
				{{info.postScriptName}}
			</div>
			
		</div>

		<div class="toolbar">
			<div class="tabs" ng-dblclick="$event.stopPropagation();">
				<div class="tab" ng-class="{'active': currentTab=='article'}" ng-click="chnageTab('article')">{{'FontViewer.Tab.Article' | i18n}}</div>
				<div class="tab" ng-class="{'active': currentTab=='waterfall'}" ng-click="chnageTab('waterfall')">{{'FontViewer.Tab.Waterfall' | i18n}}</div>
				<div class="tab" ng-class="{'active': currentTab=='alphabet'}" ng-click="chnageTab('alphabet')">{{'FontViewer.Tab.Alphabet' | i18n}}</div>
				<div class="tab" ng-class="{'active': currentTab=='other'}" ng-click="chnageTab('other')">{{'FontViewer.Tab.Other' | i18n}}</div>
			</div>
			<div class="theme-switcher" ng-dblclick="$event.stopPropagation();">
				<div class="theme auto" ng-click="chnageTheme('auto')" ng-class="{'active': currentTheme=='auto'}">A</div>
				<div class="theme light" ng-click="chnageTheme('light')" ng-class="{'active': currentTheme=='light'}">A</div>
				<div class="theme dark" ng-click="chnageTheme('dark')" ng-class="{'active': currentTheme=='dark'}">A</div>
				<div class="theme purple" ng-click="chnageTheme('purple')" ng-class="{'active': currentTheme=='purple'}">A</div>
				<div class="theme yellow" ng-click="chnageTheme('yellow')" ng-class="{'active': currentTheme=='yellow'}">A</div>
			</div>
		</div>

		<div class="slider" ng-init="fontSize=62.5" ng-hide="currentTab==='other'">
			<div class="ic-btn zoom-btn" style="-webkit-app-region: initial;" ng-click="zoomOut($event);"><img ng-src="../assets/images/{{theme|themePath}}/icons/ic-toolbar-zoom-out.svg"></div>
			<div class="range-wrap">
				<div class="range-progressbar">
					<div class="current" style="width: {{fontSize / 625 * 100}}%"></div>
				</div>
				<input id="preview-size" class="range" type="range" min="31.25" max="625" value="62.5" step="0.5" tabIndex="-1" ng-model="fontSize">
			</div>
			<div class="ic-btn zoom-btn" style="-webkit-app-region: initial;" ng-click="zoomIn($event);"><img ng-src="../assets/images/{{theme|themePath}}/icons/ic-toolbar-zoom-in.svg"></div>
		</div>
		
		<div class="content">
			<!-- 无法预览提示 -->
			<div class="not-support" ng-show="!isSupport && currentTab!='other'" ng-bind-html="'NotSupport' | i18n"></div>
			<div ng-show="isSupport">
				<!-- 文章模式 -->
				<div class="article" ng-show="currentTab === 'article'" ng-bind-html="content.article"></div>
				<!-- Waterfall 模式 -->
				<div class="waterfall" ng-show="currentTab === 'waterfall'" ng-bind-html="content.waterfall"></div>
				<!-- alphabet 模式 -->
				<div class="alphabet" ng-show="currentTab === 'alphabet'"><div ng-bind-html="content.alphabet"></div></div>
				<!-- 其它 -->
				<div class="other" ng-show="currentTab === 'other'">
					<div ng-if="info.postScriptName"><span class="prop">{{'Information.postScriptName' | i18n}}</span><span class="value">{{info.postScriptName}}<span class="rename-btn" ng-click="setAsFileName(info.postScriptName)">{{'Information.fullName.Button' | i18n}}</span></span></div>
					<div ng-if="info.fullName"><span class="prop">{{'Information.fullName' | i18n}}</span><span class="value">{{info.fullName}}<span class="rename-btn" ng-click="setAsFileName(info.fullName)">{{'Information.fullName.Button' | i18n}}</span></span></div>
					<div ng-if="info.fontFamily"><span class="prop">{{'Information.fontFamily' | i18n}}</span><span class="value">{{info.fontFamily}}<span class="rename-btn" ng-click="setAsFileName(info.fontFamily)">{{'Information.fullName.Button' | i18n}}</span></span></div>
					<!-- <div ng-show="info.fontFamily"><span class="prop">{{'Information.fontFamily' | i18n}}</span><span class="value">{{info.preferredSubfamily}}</span></div> -->
					<div ng-if="info.weight"><span class="prop">{{'Information.preferredFamily' | i18n}}</span><span class="value">{{info.weight}}</span></div>
					<div ng-if="info.version"><span class="prop">{{'Information.version' | i18n}}</span><span class="value">{{info.version}}</span></div>
					<div ng-if="info.designer"><span class="prop">{{'Information.designer' | i18n}}</span><span class="value">{{info.designer}}</span></div>
					<div ng-if="info.manufacturer"><span class="prop">{{'Information.manufacturer' | i18n}}</span><span class="value">{{info.manufacturer}}</span></div>
                    <div ng-if="info.description"><span class="prop">{{'Information.description' | i18n}}</span><span class="value">{{info.description}}</span></div>
					<div ng-if="info.copyright"><span class="prop">{{'Information.copyright' | i18n}}</span><span class="value">{{info.copyright || info.license}}</span></div>
					<div ng-if="info.trademark"><span class="prop">{{'Information.trademark' | i18n}}</span><span class="value">{{info.trademark}}</span></div>
					<div ng-if="info.numGlyphs"><span class="prop">{{'Information.numGlyphs' | i18n}}</span><span class="value">{{info.numGlyphs | number:0}}</span></div>
				</div>
			</div>
		</div>
	</div>
	<script>
		var throttle = function(fn, delay, immediate, debounce) {
	    var curr = +new Date(), //µ±Ç°ÊÂ¼þ
	        last_call = 0,
	        last_exec = 0,
	        timer = null,
	        diff, //Ê±¼ä²î
	        context, //ÉÏÏÂÎÄ
	        args,
	        exec = function() {
	            last_exec = curr;
	            fn.apply(context, args);
	        };
	    return function() {
	        curr = +new Date();
	        context = this,
	            args = arguments,
	            diff = curr - (debounce ? last_call : last_exec) - delay;
	        clearTimeout(timer);
	        if (debounce) {
	            if (immediate) {
	                timer = setTimeout(exec, delay);
	            } else if (diff >= 0) {
	                exec();
	            }
	        } else {
	            if (diff >= 0) {
	                exec();
	            } else if (immediate) {
	                timer = setTimeout(exec, -diff);
	            }
	        }
	        last_call = curr;
	    }
	};

	function debounce(func, wait, immediate) {
	    var timeout;
	    return function() {
	        var context = this,
	            args = arguments;
	        var later = function() {
	            timeout = null;
	            if (!immediate) func.apply(context, args);
	        };
	        var callNow = immediate && !timeout;
	        clearTimeout(timeout);
	        timeout = setTimeout(later, wait);
	        if (callNow) func.apply(context, args);
	    };
	};
	</script>
	<script src="../js/vendors/jquery-1.8.0.min.js"></script>
	<script src="../js/vendors/lodash.js"></script>
	<script src="medium-editor/js/medium-editor.min.js"></script>
	<link rel="stylesheet" href="medium-editor/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="medium-editor/css/themes/beagle.css" type="text/css" media="screen" charset="utf-8">
	<script src="../js/vendors/angular.min.js"></script>
	<script src="../js/vendors/mousetrap.min.js"></script>
	<script src="../js/modules/wMousetrap.js"></script>
	<script src="../js/vendors/tippy.js"></script>
	<script src="../js/modules/tippy.js"></script>
	<script src="../js/modules/angular-contenteditable.js"></script>
	<script src="font-viewer.js"></script>
</body>
</html>
