<!DOCTYPE html>

<html ng-cloak ng-app="PreferenceApp" ng-controller="PreferencesController">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/preferences.css">
    <script src="js/vendors/jquery-1.8.0.min.js"></script>
    <script src="js/vendors/tippy.js"></script>
    <script src="js/vendors/lodash.js"></script>
    <script src="js/vendors/angular.min.js"></script>
    <script src="js/services/shortcut-manager.js"></script>
    <script src="js/directives/shortcut-input.js"></script>
    <script src="js/vendors/mousetrap.min.js"></script>
    <script src="js/modules/wMousetrap.js"></script>
    <script src="js/modules/tippy.js"></script>
    <script src="js/preferences.js"></script>
</head>

<body 
    ng-show="preferences" 
    theme="{{themeAttr()}}"
    platform="{{::platform}}"
    vibrancy="{{::vibrancyEnabled}}"
    class="{{::platform}} {{language}} theme-{{themeName}}" 
    w-mousetrap="{
        'mod+f': focusSearch,
        'mod+enter': save, 
        'esc': escHandler
    }"
>

    <div class="preferences-layout">
    <!-- 侧边栏 -->
    <div class="sidebar">
        <div class="title" style="-webkit-app-region: drag;">{{'preferencesWindow.title' | i18n}}</div>
        <!-- 阶段8b：搜索框由 React 接管（react/preferences/panels.tsx 绑 keydown/input + scope 桥） -->
        <input id="sidebar-search" type="search" placeholder="{{'general.search' | i18n}}">
        <div class="sidebar-items">
            <div ng-repeat="panel in sidebarPanels" ng-switch on="panel.type">
                <!-- 項目 -->
                <div ng-switch-when="panel" class="sidebar-item" ng-class="{'active': panel.name === currentPanel.name}" ng-click="switchPanel(panel)">
                    <div class="icon" style="-webkit-mask-image: url(assets/images/base/preferences/{{panel.iconPath}});"></div>
                    <div class="name">{{panel.i18n}}</div>
                    <img ng-if="panel.ai" ng-src="assets/images/{{themeAttr() | themePath}}/icons/context-menu/ic-ai.svg">
                </div>
                <!-- 分隔 -->
                <div ng-switch-when="separator" class="separator"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header" style="-webkit-app-region: drag;">
            <div class="panel-title">{{currentPanel.i18n}}</div>
            <div class="close" ng-click="cancel()"></div>
        </div>

        <!-- 快捷鍵搜索框 -->
        <div ng-if="currentPanel.name === 'shortcuts'" class="shortcut-search-container">
        <!-- 阶段8d：快捷键搜索框由 React 接管（react/preferences/panels.tsx 绑 keydown/input + updateKeybinds 等价） -->
            <input id="shortcut-input" type="search" placeholder="{{'general.search' | i18n}}">
        </div>
        
        <div class="content" ng-switch on="currentPanel.name">

            <div ng-if="showSearchEmpty" class="panel-empty">
                <div class="icon"><img style="width: 400px; height: 144px;" ng-src="assets/images/{{themeAttr() | themePath}}/illustrations/preferences-search-empty.png"></div>
                <div class="title">{{ 'preferencesWindow.searchEmpty.title' | i18n }}</div>
                <p>{{ 'preferencesWindow.searchEmpty.desc' | i18n }}</p>
            </div>

            <!-- 阶段8b：常用/左栏面板已由 React 接管（react/preferences/panels.tsx，portal 渲染于 .content 顶部锚点） -->
            <!-- 阶段8c：操控/习惯设定面板已由 React 接管（react/preferences/panels.tsx，portal 渲染于 .content 顶部锚点） -->
            <!-- 阶段8d：快捷键面板已由 React 接管（react/preferences/panels.tsx，portal 渲染于 .content 顶部锚点） -->
            <!-- 通知设定 -->
            <div class="panel-content" ng-switch-when="notification|search" ng-switch-when-separator="|">
    
                 <!-- 音效 -->
                 <div class="panel-block" search-show="{{keyword}}" search-keywords="notification sound 通知 音效">
                    <div class="block-content">
                        <div class="block-title">
                            {{'preferencesWindow.general.soundEffect' | i18n}}
                            <label class="toggle">
                                <input type="checkbox" checked="" ng-model="preferences.notification.soundEffect.enable" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div ng-if="preferences.notification.soundEffect.enable === 'true'" style="margin-top: 8px;">
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <label class="control checkbox">
                                    <input type="checkbox" checked="" ng-model="preferences.notification.soundEffect.when.deleteImage" ng-true-value="'true'" ng-false-value="'false'">
                                    <span class="control-indicator"></span>
                                    {{'preferencesWindow.general.soundEffect>deleteImage' | i18n}}
                                </label>
                            </div>
                            <div class="checkbox-item">
                                <label class="control checkbox">
                                    <input type="checkbox" checked="" ng-model="preferences.notification.soundEffect.when.deleteFolder" ng-true-value="'true'" ng-false-value="'false'">
                                    <span class="control-indicator"></span>
                                    {{'preferencesWindow.general.soundEffect>deleteFolder' | i18n}}
                                </label>
                            </div>
                        </div>
                        <div class="checkbox-items">
                            <div class="checkbox-item">
                                <label class="control checkbox">
                                    <input type="checkbox" checked="" ng-model="preferences.notification.soundEffect.when.screencapture" ng-true-value="'true'" ng-false-value="'false'">
                                    <span class="control-indicator"></span>
                                    {{'preferencesWindow.general.soundEffect>screencapture' | i18n}}
                                </label>
                            </div>
                            <div class="checkbox-item">
                                <label class="control checkbox">
                                    <input type="checkbox" checked="" ng-model="preferences.notification.soundEffect.when.extension" ng-true-value="'true'" ng-false-value="'false'">
                                    <span class="control-indicator"></span>
                                    {{'preferencesWindow.general.soundEffect>extension' | i18n}}
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- 弹窗 -->
                <div class="panel-block" search-show="{{keyword}}" search-keywords="notification alert 通知 弹窗">
                    <div class="block-content">
                        <div class="block-title">
                            {{'preferencesWindow.notification.popup' | i18n}}
                            <label class="toggle">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.enable" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div ng-if="preferences.notification.notification.enable !== 'false'" style="margin-top: 8px;">
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.when.screencapture" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.notification.soundEffect.screencapture' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.when.extension" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.notification.soundEffect.extension' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.when.repeatImage" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.general.notification.repeatImage' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.when.autoImport" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.general.notification.autoImport' | i18n}}
                            </label>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- 截图设定 -->
            <div class="panel-content" ng-switch-when="screencapture|search" ng-switch-when-separator="|">

                <!-- 通用 -->
                <div class="panel-block" search-show="{{keyword}}" search-keywords="screencapture screenshot quality format 質量 品質">
                    <div class="block-content">
                        <div class="block-title">{{'preferencesWindow.screencCapture.formatNquality' | i18n}}</div>
                        <!-- 保存格式 -->
                        <div class="label-item">
                            <label for="" style="width: 240px;">{{'preferencesWindow.screencCapture.format' | i18n}}</label>
                            <div class="right">
                                <div class="checkbox-items">
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input id="radio-page" name="radio-scroll" ng-model="preferences.screencapture.format" type="radio" value="png">
                                            <span class="control-indicator"></span> PNG
                                        </label>
                                    </div>
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input id="radio-scroll" name="radio-scroll" ng-model="preferences.screencapture.format" type="radio" value="jpg">
                                            <span class="control-indicator"></span> JPG
                                        </label>
                                    </div>
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input id="radio-scroll" name="radio-scroll" ng-model="preferences.screencapture.format" type="radio" value="webp">
                                            <span class="control-indicator"></span> WebP
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="separator" ng-show="preferences.screencapture.format !== 'png'"></div>
                        <!-- 保存品质 -->
                        <div class="label-item" ng-show="preferences.screencapture.format !== 'png'">
                            <label for="" style="width: 240px;">{{'preferencesWindow.screencCapture.quality' | i18n}}</label>
                            <div class="right">
                                <div class="checkbox-items">
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input name="radio-quality" ng-model="preferences.screencapture.quality" type="radio" value="90">
                                            <span class="control-indicator"></span> {{'preferencesWindow.screencCapture.quality>high' | i18n}}
                                        </label>
                                    </div>
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input name="radio-quality" ng-model="preferences.screencapture.quality" type="radio" value="80">
                                            <span class="control-indicator"></span> {{'preferencesWindow.screencCapture.quality>medium' | i18n}}
                                        </label>
                                    </div>
                                    <div class="checkbox-item" style="width: 32%;">
                                        <label class="control radio inline">
                                            <input name="radio-quality" ng-model="preferences.screencapture.quality" type="radio" value="70">
                                            <span class="control-indicator"></span> {{'preferencesWindow.screencCapture.quality>low' | i18n}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                <!-- 快速键 -->
                <div class="panel-block" search-show="{{keyword}}" search-keywords="keyboard shortcut screencapture screenshot 快速键 快捷鍵">
                    <div class="block-content shortcut-toggle-block">
                        <div class="shortcut-toggle-header">
                            <span class="shortcut-toggle-label">{{'preferencesWindow.screencCapture.shortcutsEnable' | i18n}}</span>
                            <label class="toggle">
                                <input type="checkbox" checked="" ng-model="preferences.screencapture.shortcutsEnable" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="shortcut-table enhanced-shortcut-table" ng-show="preferences.screencapture.shortcutsEnable == 'true'">
                            <div class="tbody">
                                <div class="table-row">
                                    <div class="table-col function-name">
                                        <div class="function-name-text">{{'shortcuts.global.capture.area' | i18n}}</div>
                                    </div>
                                    <div class="table-col function-shortcut">
                                        <div class="shortcut-input-container">
                                            <input type="text"
                                                   shortcut-input
                                                   shortcut-name="global.capture.area"
                                                   placeholder="{{'preferencesWindow.shortcutInputPlaceholder' | i18n}}"
                                                   ng-model="preferences.shortcuts.keybinds['global.capture.area']"
                                                   ng-disabled="preferences.screencapture.shortcutsEnable == 'false'">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-col function-name">
                                        <div class="function-name-text">{{'shortcuts.global.capture.window' | i18n}}</div>
                                    </div>
                                    <div class="table-col function-shortcut">
                                        <div class="shortcut-input-container">
                                            <input type="text"
                                                   shortcut-input
                                                   shortcut-name="global.capture.window"
                                                   placeholder="{{'preferencesWindow.shortcutInputPlaceholder' | i18n}}"
                                                   ng-model="preferences.shortcuts.keybinds['global.capture.window']"
                                                   ng-disabled="preferences.screencapture.shortcutsEnable == 'false'">
                                        </div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-col function-name">
                                        <div class="function-name-text">{{'shortcuts.global.capture.full' | i18n}}</div>
                                    </div>
                                    <div class="table-col function-shortcut">
                                        <div class="shortcut-input-container">
                                            <input type="text"
                                                   shortcut-input
                                                   shortcut-name="global.capture.full"
                                                   placeholder="{{'preferencesWindow.shortcutInputPlaceholder' | i18n}}"
                                                   ng-model="preferences.shortcuts.keybinds['global.capture.full']"
                                                   ng-disabled="preferences.screencapture.shortcutsEnable == 'false'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 进阶设置 -->
                <div class="panel-block" search-show="{{keyword}}">
                    <div class="block-content">
                        <div class="block-title">{{'preferencesWindow.screencCapture.options' | i18n}}</div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.general.showCaptureCollectModal" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.general.showCaptureCollectModal' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.notification.notification.when.screencapture" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.screencCapture.notification' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.screencapture.autoTagging.enable" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.screencCapture.autoTagging' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.screencapture.autoWriteClipboard" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.screencCapture.autoWriteClipboard' | i18n}}
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label class="control checkbox">
                                <input type="checkbox" checked="" ng-model="preferences.screencapture.useRetina" ng-true-value="'true'" ng-false-value="'false'">
                                <span class="control-indicator"></span>
                                {{'preferencesWindow.screencCapture.useRetina' | i18n}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Privacy 設定 -->
            <div class="panel-content" ng-switch-when="privacy|search" ng-switch-when-separator="|">
                <div class="panel-block" search-show="{{keyword}}" search-keywords="app lock password pwd">
                    <div class="block-content" ng-class="{'disable': preferences.privacy.enable === 'false'}">
                        <div class="block-title">
                            {{'preferencesWindow.privacy.enable' | i18n}}
                            <label class="toggle">
                                <input type="checkbox" ng-model="preferences.privacy.enable" ng-true-value="'true'" ng-false-value="'false'" ng-click="openPasswordModal($event, 'new')">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="block-hint">
                            <p class="auto-import-hint">{{'preferencesWindow.privacy.tips' | i18n}}</p>
                        </div>
                        <div ng-if="preferences.privacy.enable === 'true'">
                        <div class="separator"></div>
                        <div class="list-item" ng-click="openPasswordModal($event, 'change')">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-edit.svg" width="20" height="20">
                            {{'preferencesWindow.privacy.change' | i18n}}
                            <div class="right">
                                <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-next.svg" width="16" height="16">
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="list-item" ng-click="lockNow()">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-lock.svg" width="20" height="20">
                            {{'preferencesWindow.privacy.lock' | i18n}}
                            <div class="right">
                                <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-next.svg" width="16" height="16">
                            </div>
                        </div>
                        <!-- Touch ID 選項 - 僅在 macOS 且支援 Touch ID 時顯示 -->
                        <div class="separator" ng-if="platform === 'darwin' && canUseTouchID"></div>
                        <div class="list-item" ng-if="platform === 'darwin' && canUseTouchID" ng-click="toggleTouchIDClick($event)">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-touchid.svg" width="20" height="20">
                            {{'preferencesWindow.privacy.touchid' | i18n}}
                            <div class="right">
                                <label class="toggle">
                                    <input type="checkbox" 
                                        ng-model="preferences.privacy.enableTouchID" 
                                        ng-true-value="'true'" 
                                        ng-false-value="'false'"
                                        ng-change="toggleTouchID()">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- autoImport -->
            <div class="panel-content" ng-switch-when="autoImport|search" ng-switch-when-separator="|">
                <div class="panel-block" search-show="{{keyword}}" search-keywords="auto import watch">
                    <div class="block-content" ng-class="{'disable': preferences.autoImport.enable === 'false'}">
                        <div class="block-title">
                            {{'preferencesWindow.autoImport.enable' | i18n}}
                            <label class="toggle">
                                <input type="checkbox" ng-model="preferences.autoImport.enable" ng-true-value="'true'" ng-false-value="'false'" ng-click="openAutoImport($event)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="block-hint">
                            <p class="auto-import-hint">{{'preferencesWindow.autoImport.tips' | i18n}}</p>
                        </div>
                        <div ng-if="preferences.autoImport.enable === 'true'">
                        <div class="separator"></div>
                        <div class="list-item" ng-click="chooseAutoImportPath($event)">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-watch-folder.svg" width="20" height="20">
                            {{'preferencesWindow.autoImport.chooseBtn' | i18n}}
                            <div class="right" tippy tippy-content="{{ preferences.autoImport.path }}" tippy-placement="top">
                                <div class="value">{{preferences.autoImport.path}}</div>
                                <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-next.svg" width="16" height="16">
                            </div>
                        </div>
                        <div class="separator"></div>
                        <div class="list-item" ng-click="revealAutoImportPath($event)">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-folder.svg" width="20" height="20">
                            {{'preferencesWindow.autoImport.revealBtn' | i18n}}
                            <div class="right">
                                <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-next.svg" width="16" height="16">
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- developer -->
            <div class="panel-content" ng-switch-when="developer|search" ng-switch-when-separator="|">
                <div class="panel-block" search-show="{{keyword}}" search-keywords="developer development api token restful">
                    <div class="block-content api-token-container">
                        <div class="block-title">
                            {{'preferencesWindow.developer.apiToken' | i18n}}
                        </div>
                        <div class="api-token-block">
                            <div class="api-token" ng-click="copyApiToken()">
                                <div class="value">{{preferences.developer.apiToken}}</div>
                                <div class="copy-btn" ng-click="copyApiToken()" tippy tippy-placement="top" tippy-content="{{'appmenu.edit>copy' | i18n}}">
                                    <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-copy.svg">
                                </div>
                            </div>
                            <div class="button button-grey button-xs" ng-click="regenerateApiToken($event)">{{'preferencesWindow.developer.regenerate' | i18n}}</div>
                        </div>
                        <div class="separator"></div>
                        <div class="checkbox-item api-token-url">
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-link.svg">
                            <a class="auto-import-hint" href="http://localhost:41595/?token={{preferences.developer.apiToken}}" target="_blank">http://localhost:41595/?token={{preferences.developer.apiToken}}</a>
                            <img src="assets/images/{{themeAttr() | themePath}}/icons/preferences/ic-next.svg">
                        </div>                        
                    </div>
                </div>
            </div>


        <div class="footer">
            <div class="right">
                <div class="button button-primary" ng-click="save()">{{'preferencesWindow.saveBtn' | i18n}}</div>
                <div class="button button-grey" ng-click="apply()">{{'preferencesWindow.apply' | i18n}}</div>
            </div>
        </div>

        <!-- 階段8：偏好窗口 React 接管宿主（.content 容器内末尾；随 8b-8e 逐面板接管；入口由 vite 注入） -->
        <div id="eagle-preferences-react-host"></div>
    </div>
    </div>

    <!-- 密码设置 -->
    <div ng-controller="PasswordController">
        <div class="modal folder-password-modal" ng-class="{'open': isOpen}" ng-if="isOpen">
            <div class="modal-header">
                <div class="name">{{'context.folder.password' | i18n}}</div>
                <div class="close" ng-click="folderPwdScope.cancel()"></div>
            </div>
            <div class="section">
                <div ng-show="folderPwdScope.mode == 'new'">
                    <label for="">{{'modal.folderPassword.password' | i18n}}</label>
                    <input id="new-folder-password-input" type="password" select-all placeholder="" ng-model="folderPwdScope.newPassword" auto-focus="SET-FOLDER-PASSWORD">
                    <div class="margin-bottom-12"></div>
                    <label for="">{{'modal.folderPassword.rePassword' | i18n}}</label>
                    <input type="password" select-all placeholder="" ng-model="folderPwdScope.newRePassword">
                    <div class="margin-bottom-12"></div>
                    <label for="">{{'modal.folderPassword.passwordTips' | i18n}}</label>
                    <textarea name="" id="" cols="30" rows="2" placeholder="" ng-model="folderPwdScope.passwordTips" select-all></textarea>
                </div>
        
                <div ng-show="folderPwdScope.mode == 'change'">
                    <label for="">{{'modal.folderPassword.oldPassword' | i18n}}</label>
                    <input id="change-folder-password-input" type="password" select-all placeholder="" ng-model="folderPwdScope.oldPassword" auto-focus="SET-FOLDER-PASSWORD">
                    <div class="margin-bottom-12"></div>
                    <label for="">{{'modal.folderPassword.newPassword' | i18n}}</label>
                    <input type="password" select-all placeholder="" ng-model="folderPwdScope.newPassword">
                    <div class="margin-bottom-12"></div>
                    <label for="">{{'modal.folderPassword.rePassword' | i18n}}</label>
                    <input type="password" select-all placeholder="" ng-model="folderPwdScope.newRePassword">
                    <div class="margin-bottom-12"></div>
                    <label for="">{{'modal.folderPassword.passwordTips' | i18n}}</label>
                    <textarea name="" id="" cols="30" rows="2" placeholder="" ng-model="folderPwdScope.passwordTips" select-all></textarea>
                </div>
        
                <div ng-show="folderPwdScope.mode == 'reset'">
                    <label for="">{{'modal.folderPassword.currentPassword' | i18n}}</label>
                    <input id="reset-folder-password-input" type="password" select-all ng-model="folderPwdScope.oldPassword" auto-focus="SET-FOLDER-PASSWORD">
                </div>
            </div>
            <div class="section darken textAlign-right">
                <div ng-show="folderPwdScope.mode == 'new'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveNew' | i18n}}</div>
                <div ng-show="folderPwdScope.mode == 'change'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveChange' | i18n}}</div>
                <div ng-show="folderPwdScope.mode == 'reset'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveReset' | i18n}}</div>
            </div>
        </div>
        <div class="modal-overlay"></div>
    </div>
</body>
</html>
