<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/progress.css">
    <script>
        var appRoot = require('app-root-path');
        window.i18n = new(require(appRoot + '/i18n'));
    </script>
    <script src="js/vendors/jquery-1.8.0.min.js"></script>
    <script src="js/vendors/jquery-ui.min.js"></script>
    <script src="js/lib/eagle-api.js"></script>
    <script src="js/global.js"></script>
    <script src="js/vendors/angular.min.js"></script>
    <script src="js/vendors/jquery-audio.js"></script>
    <script>
        const electron = require('electron');
        const ipcRenderer = electron.ipcRenderer;
        var path = require("path");
        var fs = require("fs");
        const remote = require('@electron/remote');
        
        var ProgresseApp = angular.module("ProgresseApp", []);
        ProgresseApp.filter('themePath', function () {
            return function (theme) {
                if (theme === 'light' || theme === 'lightgray') {
                    return 'light';
                }
                else {
                    return 'dark';
                }
            };
        });
        ProgresseApp.filter('i18n', function($window) {
            return function (key) {
                return i18n.__(key);
            };
        });
        ProgresseApp.controller("PreferencesController", function ($scope, $interval, $timeout) {

            var dargStartX;
            var hasDrag = false;
            $("#progress-dialog").draggable({ 
                axis: "x", 
                scroll: false,
                containment: [0, 0, 350, 72],
                start: function (event, ui) {
                    hasDrag = false;
                    dargStartX = event.clientX;
                    $("#progress-dialog").addClass("dargging");
                },
                drag: function(event, ui) {
                    var offsetX = event.clientX - dargStartX;
                    if (Math.abs(offsetX) > 10) {
                        hasDrag = true;
                    }
                },
                stop: function (event, ui) {
                    var offsetX = event.clientX - dargStartX;
                    // if (offsetX > 350 / 6) {
                        $scope.isOpen = false;
                        $scope.isMouseIn = false;
                        hasDrag = false;
                        setTimeout(function () {
                            ipcRenderer.send("hide-notification");
                            $("#progress-dialog")[0].removeAttribute("style");
                        }, 200);
                        $("#progress-dialog").removeClass("dargging");
                        $scope.$evalAsync();
                    // }
                }
            });

            $scope.notificationSound = {
                play: function () {
                    $.playSound('sounds/notification.wav');
                }
            };
            var electronSettings = require(appRoot + '/my_modules/electron-settings');
            var preferences = electronSettings.getPreferences();
            $scope.language = preferences.general.language || "en";
            $scope.platform = process.platform;
            $scope.theme = preferences.theme.css || "gray";
            
            if (preferences && preferences.theme.name === 'Auto') {
                if (remote.nativeTheme.shouldUseDarkColors) {
                    $scope.theme = "gray";
                }
                else {
                    $scope.theme = "light";
                }
            }

            $scope.isOpen = false;
            $scope.isDone = false;
            $scope.progress = 20;
            $scope.thumbnailUrl = "";

            $scope.mouseup = function (showEagle) {
                if (!hasDrag) {
                    $scope.close(showEagle);
                }
            };

            var mouseEnterTime;
            $scope.mouseEnter = function () {
                mouseEnterTime = Date.now();
                $scope.isMouseIn = true;
            };

            $scope.mouseLeave = function () {
                if (mouseEnterTime && Date.now() - mouseEnterTime < 600) {
                    $scope.isMouseIn = false;
                    return;
                }
                if (hasDrag) {
                    $scope.isMouseIn = false;
                    return;
                }
                if ($scope.isMouseIn) {
                    setTimeout(function () {
                        ipcRenderer.send("hide-notification");
                    }, 200);
                }
                $scope.isMouseIn = false;
            };

            $scope.close = function (showEagle) {
                $scope.isOpen = false;
                $scope.isMouseIn = false;
                setTimeout(function () {
                    ipcRenderer.send("hide-notification");
                }, 200);
                if (showEagle) {
                    ipcRenderer.send("show");
                    ipcRenderer.send("open-and-reveal-image");
                    // ipcRenderer.send("open-all-end");
                }
            };

            var lastTimeout = undefined;
            ipcRenderer.on("notification", function (e, params) {
                let duration = params.duration || 4500;
                $scope.thumbnailUrl = "";
                $scope.progress = 20;
                $timeout(function () {
                    $scope.isOpen = true;
                }, 300);
                $timeout.cancel(lastTimeout);
                if (!params.progress) {
                    $scope.isDone = true;
                    $scope.title = params.title;
                    $scope.fileName = params.fileName;
                    $scope.description = params.description;
                    $scope.thumbnailUrl = "";
                    if (params.thumbnailUrl) {
                        $scope.thumbnailUrl = URL_MODULE.pathToFileURL(params.thumbnailUrl).href;
                    }
                    $scope.webUrl = params.webUrl || "";
                    $scope.isMP4 = $scope.webUrl.toLowerCase().indexOf(".mp4") > -1;
                    
                    if (!params.mute) {
                        $scope.notificationSound.play();
                    }
                    lastTimeout = $timeout(function () {
                        $scope.isOpen = false;
                        if (!$scope.isMouseIn) {
                            setTimeout(function () {
                                ipcRenderer.send("hide-notification");
                            }, 200);
                        }
                    }, duration);
                }
                else {
                    $scope.isDone = false;
                    $scope.description = params.description;
                }
                $scope.$evalAsync();
            });

            ipcRenderer.on("notification-sound", function (e, params) {
                $scope.notificationSound.play();
            });

            ipcRenderer.on('update-progress', function(e, progress) {
                var progress = progress * 100;
                $scope.$evalAsync(function() {
                    if (progress > 20) {
                        $scope.progress = progress;
                    }
                });
            });
        });


        // 
        initJieba();

        ipcRenderer.on('calculate-search-keywords', function(event, params) {
            try {
                if (!params.imagesString) {
                    try {
                        const lineByLine = require(appRoot + '/my_modules/n-readlines');
                        const liner = new lineByLine(params.imagesStringPath, {
                            readChunk: 32768
                        });

                        let line;
                        let lines = [];
                        while (line = liner.next()) {
                            lines.push(line.toString());
                        }

                        var folders = [];
                        try {
                            var rootDir = params.rootDir;
                            var metadataPath = `${rootDir}/metadata.json`;
                            var metadataJSON = require(metadataPath);
                            folders = metadataJSON.folders;
                        }
                        catch (err) {
                        }
                        calculateKeywordSugagestion(nodejieba, lines, folders);
                    }
                    catch (err) {
                        return;
                    }
                }
            }
            catch (err) {
                console.error(err);
            }
        });

        ipcRenderer.on('jieba-extract', function(event, string) {
            var result = [];
            if (nodejieba) {
                result = nodejieba.extract(string, 10);
            }
            ipcRenderer.send('jieba-extract-done', result);
        });

        ipcRenderer.on('jieba-insert-word', function(event, word) {
            if (nodejieba) {
                nodejieba.insertWord(word);
            }
        });

        ipcRenderer.on('extract-web-metas', function(event, metas) {

            var result = [];
            var string = "";

            if (metas && metas.alt) string += metas.alt + " ";
            if (metas && metas.title) string += metas.title + " ";
            if (metas && metas.description) string += metas.description + " ";
            if (metas && metas.keywords) string += metas.keywords + " ";

            if (nodejieba) {
                result = nodejieba.extract(string, 20);
            }

            ipcRenderer.send('extract-web-metas-done', result);
        });


        function initJieba () {
            if( process.platform == 'darwin' ) {
                initJiebaForMac();
            }
            else {
                initJiebaForWin();
            }
        }

        function initJiebaForMac () {
            // if (nodejieba) return;

            nodejieba = require("nodejieba");

            var dictPath;
            var isDev = !remote.app.isPackaged;
            
            if (isDev) { dictPath = require("path").join(appRoot.path, '/build_files/dict/'); }
            else { dictPath = require("path").join(process.resourcesPath, '/dict/'); }

            if (dictPath) {
                nodejieba.DEFAULT_DICT = dictPath + "/jieba.dict.small.utf8",
                nodejieba.DEFAULT_HMM_DICT = dictPath + "/hmm_model.small.utf8",
                nodejieba.DEFAULT_USER_DICT = dictPath + "/user.dict.small.utf8";
                nodejieba.DEFAULT_IDF_DICT = dictPath + "/idf.small.utf8";
                nodejieba.DEFAULT_STOP_WORD_DICT = dictPath + "/stop_words.small.utf8";
                nodejieba.load();
                jibeaLoaded = true;
            }
        }

        function initJiebaForWin () {
            var PROGRAM_DATA_PATH = process.env["ALLUSERSPROFILE"];

            if (!PROGRAM_DATA_PATH) return;
            nodejieba = require("nodejieba");

            var dictPath;
            var isDev = !remote.app.isPackaged;
            if (isDev) { dictPath = require("path").join(appRoot.path, '/build_files/dict/'); }
            else { dictPath = require("path").join(process.resourcesPath, '/dict/'); }
            dictPath = path.normalize(dictPath);

            // NOTE: nodejieba 如果出現於中文路徑，會出錯，這裡先將所有字典文件放在系統 temp 文件夾中
            // 讓 jieba 去存取這個路徑，避免路徑出現英文
            var EAGLE_DICT_PATH = path.normalize(PROGRAM_DATA_PATH + "/Eagle/");

            if (!fs.existsSync(EAGLE_DICT_PATH)) {
                fs.mkdirSync(EAGLE_DICT_PATH);
            }

            var DEFAULT_DICT = path.normalize( EAGLE_DICT_PATH + "/jieba.dict.small.utf8" );
            var DEFAULT_HMM_DICT = path.normalize( EAGLE_DICT_PATH + "/hmm_model.small.utf8" );
            var DEFAULT_USER_DICT = path.normalize( EAGLE_DICT_PATH + "/user.dict.small.utf8" );
            var DEFAULT_IDF_DICT = path.normalize( EAGLE_DICT_PATH + "/idf.small.utf8" );
            var DEFAULT_STOP_WORD_DICT = path.normalize( EAGLE_DICT_PATH + "/stop_words.small.utf8" );

            var fse;
            if (!fs.existsSync(DEFAULT_DICT)) { 
                fse = fse || require('fs-extra');
                fse.copySync(path.normalize(dictPath + "/jieba.dict.small.utf8"), DEFAULT_DICT); console.info("將字典檔案複製到系統緩存路徑: ", DEFAULT_DICT); }
            if (!fs.existsSync(DEFAULT_HMM_DICT)) { 
                fse = fse || require('fs-extra');
                fse.copySync(path.normalize(dictPath + "/hmm_model.small.utf8"), DEFAULT_HMM_DICT); console.info("將字典檔案複製到系統緩存路徑: ", DEFAULT_HMM_DICT); }
            if (!fs.existsSync(DEFAULT_USER_DICT)) { 
                fse = fse || require('fs-extra');
                fse.copySync(path.normalize(dictPath + "/user.dict.small.utf8"), DEFAULT_USER_DICT); console.info("將字典檔案複製到系統緩存路徑: ", DEFAULT_USER_DICT); }
            if (!fs.existsSync(DEFAULT_IDF_DICT)) { 
                fse = fse || require('fs-extra');
                fse.copySync(path.normalize(dictPath + "/idf.small.utf8"), DEFAULT_IDF_DICT); console.info("將字典檔案複製到系統緩存路徑: ", DEFAULT_IDF_DICT); }
            if (!fs.existsSync(DEFAULT_STOP_WORD_DICT)) { 
                fse = fse || require('fs-extra');
                fse.copySync(path.normalize(dictPath + "/stop_words.small.utf8"), DEFAULT_STOP_WORD_DICT); console.info("將字典檔案複製到系統緩存路徑: ", DEFAULT_STOP_WORD_DICT); }
            
            if (dictPath) {
                nodejieba.DEFAULT_DICT = DEFAULT_DICT,
                nodejieba.DEFAULT_HMM_DICT = DEFAULT_HMM_DICT,
                nodejieba.DEFAULT_USER_DICT = DEFAULT_USER_DICT;
                nodejieba.DEFAULT_IDF_DICT = DEFAULT_IDF_DICT;
                nodejieba.DEFAULT_STOP_WORD_DICT = DEFAULT_STOP_WORD_DICT;
                nodejieba.load();
                jibeaLoaded = true;
            }

            delete require.cache[require.resolve("fs-extra")];
        }

        function calculateKeywordSugagestion (nodejieba, lines, folders) {
            
            try {

                let images = [];
                for (let i = lines.length - 1; i >= 0; i--) {
                    try {
                        const line = lines[i];
                        const name = line.match(/"name":"(.*?)"/)[1];
                        const tags = line.match(/"tags":\[(.*?)\]/)[1].split(',').map(tag => tag.replace(/"/g, ''));
                        images.push({ name, tags });
                    }
                    catch (err) {}
                }

                console.time("断词分析");
                const now = Date.now();

                ipcRenderer.send('electron-info', `[bg] Start text-analytics process, ${process.pid}`);

                const tagMappings = {};
                let curr = 0;

                images.forEach((item) => {
                    curr++;
                    // 防呆，超過 100w 圖，只分析 100w
                    if (curr > 1000000) return;
                    if (item.tags) {
                        item.tags.forEach(function (tag) {
                            if (tag.length >= 200) return;
                            if (!tagMappings[tag] && tag?.toLowerCase) {
                                nodejieba.insertWord(tag.toLowerCase());
                                tagMappings[tag] = true;
                            }
                        });
                    }
                });

                if (folders && folders.length > 0) {
                    // Note: 2019/09/10 智能创建使用者自己输入的新词，避免对词系统爽白痴
                    // Ex: 有一个「集合住宅」文件夹，这是一个词，不该拆分成「集合」「住宅」
                    // 亦或是文件夹的自动标签
                    // folders.forEach(function (folder) {
                    eagle.utils.tree.walk(folders, 'children', function(folder, parent) {

                        var terms = folder.name.split(/[ ，）（(),;、\n]+/);
                        terms.forEach(function (term) {
                            if (term && term.length < 16) {
                                // allString += folder.name + ', ';
                                term = term.replace(/\d/g,'');
                                if (!tagMappings[term] && term) {
                                    nodejieba.insertWord(term.toLowerCase());
                                    tagMappings[term] = true;
                                    // console.log(term);
                                }
                            }
                        });

                        if (folder.tags) {
                            folder.tags.forEach(function (tag) {
                                if (tag.length >= 200) return;
                                // allString += tag + ', ';
                                if (!tagMappings[tag] && tag?.toLowerCase) {
                                    nodejieba.insertWord(tag.toLowerCase());
                                    tagMappings[tag] = true;
                                }
                            });
                        }
                    });
                }

                var temp = {};
                var weightMap = {};
                images.forEach((item) => {
                    if (!item.name) return;
                    var result = nodejieba.extract(item.name.replace(/\d/g,''), 10);
                    for (var i = 0; i < result.length; i++) {
                        var word = result[i].word.toLowerCase();
                        result[i].word = word;
                        if (word.length > 15) continue;
                        if (word && !temp[word]) {
                            temp[word] = result[i];
                        }
                        if (weightMap[word] === undefined) {
                            weightMap[word] = 1;
                        }
                        else {
                            weightMap[word]++;
                        }
                        temp[word].weight = weightMap[word];
                    }
                });
                
                let keywordSuggestions = Object.keys(temp).map((key) => {
                    return temp[key];
                });

                ipcRenderer.send('electron-info', `[bg] Text analytics finished: ${(Date.now() - now) / 1000} sec`);
                if (keywordSuggestions) {
                    console.log(keywordSuggestions);
                    ipcRenderer.send('keyword-suggestion', keywordSuggestions);
                }
                temp = {};
                keywordSuggestions = [];
                images = [];
                console.timeEnd("断词分析");
                delete require.cache[require.resolve("nodejieba")];
            }
            catch (err) {
                console.error(err);
            }
        };
    </script>
</head>

<body 
    ng-app="ProgresseApp"
    ng-controller="PreferencesController"
    theme="{{theme}}"
    platform="{{::platform}}"
    class="{{::platform}} {{language}}"
    ng-click="close(false)"
>
    <div id="progress-dialog" class="progress-dialog" ng-class="{'open' : isOpen || isMouseIn}" ng-mouseenter="mouseEnter($event)" ng-mouseleave="mouseLeave($event)">
        <div class="wrap" ng-show="!isDone" ng-mouseup="mouseup(true)">
            <div class="thumbnail" style="background-image: url('assets/images/{{theme|themePath}}/icons/progress/ic-progress-download.png');background-size: 20px;background-position: center;box-shadow: none;"></div>
            <div class="info">
                <div class="title">{{'Notification.SaveImage.Ing.Title' | i18n}} {{progress | number:0}}%</div>
                <div class="progressbar" ng-show="isOpen || isMouseIn">
                    <div class="current" style="width: {{progress}}%;"></div>
                </div>
                <div class="message">{{fileName || description}}</div>
            </div>
        </div>
        <div class="wrap" ng-show="isDone" ng-mouseup="mouseup(true)">
            <div ng-if="!isMP4" ng-show="thumbnailUrl" class="thumbnail" style="background-image: url('{{thumbnailUrl}}')"></div>
            <div ng-if="!isMP4" ng-show="webUrl" class="thumbnail" style="background-image: url('{{webUrl}}')"></div>
            <div ng-if="isMP4 && (isOpen || isMouseIn)" ng-show="webUrl" class="thumbnail">
                <video autoplay loop ng-src="{{webUrl}}" muted>
                </video>
            </div>
            <div class="info">
                <div class="title">{{title}}</div>
                <div class="message">{{description}}</div>
            </div>
        </div>
        <div class="button-wrap">
            <div class="ic-btn" ng-click="$event.stopPropagation(); close(false);">
                <img ng-src="assets/images/{{theme|themePath}}/icons/ic-modal-close.svg">
            </div>
        </div>
    </div>
</body>
</html>
