<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/vendors/sweetalert2/sweetalert2.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/registration.css">
    <script>var appRoot = require('app-root-path');</script>
    <script src="js/vendors/jquery-1.8.0.min.js"></script>
    <script src="js/global.js"></script>
    <script src="js/vendors/angular.min.js"></script>
    <script src="js/vendors/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="js/vendors/mailcheck.js"></script>
    <script src="js/vendors/is.min.js"></script>
    <script src="js/registration.js"></script>
    <script>
        window.i18n = new(require(appRoot + '/i18n'));
        const bytenode = require('bytenode');
        const v8 = require('v8');
        v8.setFlagsFromString('--no-lazy');
        bytenode.runBytecodeFile(appRoot.path + '/app/js/core.jsc');
    </script>
</head>

<body 
    ng-app="RegistrationApp"
    class="{{::platform}} {{language}}"
    theme="{{theme}}"
    vibrancy="{{::vibrancyEnabled}}"
    platform="{{::platform}}"
    ng-controller="RegistrationController"
>
    <div id="reverse-marker" style="position:fixed;left:12px;bottom:12px;z-index:99999;padding:6px 10px;background:#111;color:#7CFC00;font:12px monospace;">EAGLE-REVERSE-OK</div>

    <div>
        <div id="register-modal" class="register-modal" ng-class="{'open': isOpen}">

            <!-- 讀取中提示 -->
            <div class="loader" ng-if="isLoading && isOpen">
                <svg class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="3" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>

            <!-- 過期提示 -->
            <div ng-if="isOpen" ng-show="MODE=='REMINDE'">
                <div class="ic-btn close" ng-click="quit()"></div>
                <div class="info">
                    <div class="illustration">
                        <img src="assets/images/{{theme|themePath}}/illustrations/register-remain.png" width="110" height="96">
                    </div>
                    <h2 class="title">{{'modal.register.remind.title1' | i18n}}{{trialRemain}}{{'modal.register.remind.title2' | i18n}} </h2>
                    <p ng-bind-html="'modal.register.remind.desc' | i18n"></p>
                    <a class="btn" href="https://eagle.cool/store" target="_blank"><img ng-src="assets/images/base/icons/ic-register-purchse.svg"/>{{'modal.register.buttons.buyBtn' | i18n}}</a>
                    <div class="buy">{{'modal.register.buttons.has' | i18n}} <a ng-click="changeMode('REGISTER')">{{'modal.register.buttons.enterLicenseBtn' | i18n}}</a></div>
                </div>
            </div>

            <!-- 已過期 -->
            <div ng-if="isOpen" ng-show="MODE=='EXPIRED'">
                <div class="ic-btn close" ng-click="quit()"></div>
                <div class="info">
                    <div class="illustration">
                        <img src="assets/images/{{theme|themePath}}/illustrations/register-expired.png" width="110" height="96">
                    </div>
                    <h2 class="title">{{'modal.register.expired.title' | i18n}}</h2>
                    <p ng-bind-html="'modal.register.expired.desc' | i18n"></p>
                    <a class="btn" href="https://eagle.cool/store" target="_blank"><img ng-src="assets/images/base/icons/ic-register-purchse.svg"/>{{'modal.register.buttons.buyBtn' | i18n}}</a>
                    <div class="buy">{{'modal.register.buttons.has' | i18n}} <a ng-click="changeMode('REGISTER')">{{'modal.register.buttons.enterLicenseBtn' | i18n}}</a></div>
                </div>
            </div>

            <!-- 成功 -->
            <div ng-if="isOpen" ng-show="MODE=='SUCCESS'">
                <div class="ic-btn close" ng-click="quit()"></div>
                <div class="info">
                    <div class="illustration">
                        <img src="images/register-logo.svg" width="72" height="72">
                    </div>
                    <h2 class="title">{{'modal.register.success.title' | i18n}}</h2>
                    <p>{{'modal.register.success.desc' | i18n}}</p>
                    <div class="btn" ng-click="close()">{{'modal.register.success.getStarted' | i18n}}</div>
                </div>
            </div>

            <!-- 填寫序號 -->
            <div ng-if="isOpen" ng-show="MODE=='REGISTER'">
                <div class="ic-btn close" ng-click="quit()"></div>
                <div class="form">
                    <div class="illustration">
                        <img src="assets/images/{{theme|themePath}}/illustrations/register-enter-license.png" width="168" height="96">
                    </div>
                    <h2 class="title">{{'modal.register.activate.title' | i18n}}</h2>
                    <p ng-bind-html="'modal.register.activate.desc' | i18n"></p>
                    <div class="field">
                        <input 
                            type="text"
                            ng-show="MODE=='REGISTER' && isOpen"
                            placeholder="hello@email.com"
                            ng-model="registerScope.email"
                            selectall 
                            ng-class="{'input-negative': isEmailError}"
                            style="font-family: 'Fira Mono', 'Roboto Mono', 'Monaco', 'Consolas', monospace;"
                        >
                        <label>{{'modal.register.activate.email'| i18n}}</label>
                    </div>
                    <div ng-show="suggestion" class="suggestion">{{'modal.register.activate.typeError' | i18n}}<a href="#" ng-click="useSuggestion(suggestion.full)">{{suggestion.full}}</a> ?</div>
                    <div class="field">
                        <input 
                            id="email-validation-input"
                            onpaste="return false;"
                            type="text"
                            ng-show="MODE=='REGISTER' && isOpen"
                            placeholder="{{'hello@email.com'| i18n}}"
                            ng-model="registerScope.emailValidation"
                            selectall
                            ng-class="{'input-negative': isEmailError}"
                            style="font-family: 'Fira Mono', 'Roboto Mono', 'Monaco', 'Consolas', monospace;"
                        >
                        <label>{{'modal.register.activate.repeatEmail'| i18n}}</label>
                    </div>
                    <div class="field">
                        <input 
                            type="text" 
                            ng-show="MODE=='REGISTER' && isOpen" 
                            placeholder="{{'modal.register.activate.license' | i18n}}" 
                            ng-model="registerScope.licenseCode" 
                            selectall 
                            ng-class="{'input-negative': isLicenseError || isRegisterError, 'input-warning': isTooMuchError}" 
                            style="font-family: 'Fira Mono', 'Roboto Mono', 'Monaco', 'Consolas', monospace;"
                        >
                        <label>{{'modal.register.activate.licenseLabel'| i18n}}</label>
                    </div>
                    <div class="message error" ng-show="isEmailError"><img ng-src="assets/images/base/icons/ic-register-msg-error.svg"/><div class="text">{{'modal.register.activate.emailErrorMsg' | i18n}}</div></div>
                    <div class="message error" ng-show="isLicenseError"><img ng-src="assets/images/base/icons/ic-register-msg-error.svg"/><div class="text">{{'modal.register.activate.licenseErrorMsg' | i18n}}</div></div>
                    <div class="message error" ng-show="isRegisterError"><img ng-src="assets/images/base/icons/ic-register-msg-error.svg"/><div class="text">{{'modal.register.activate.registedErrorMsg' | i18n}}</div></div>
                    <div class="message error" ng-show="isConnectionError"><img ng-src="assets/images/base/icons/ic-register-msg-error.svg"/><div class="text">{{'modal.register.activate.connectionError' | i18n}}</div></div>
                    <div class="message warning" ng-show="!isLoading && isTooMuchError">
                        <img ng-src="assets/images/base/icons/ic-register-msg-warning.svg"/>
                        <div class="text">
                            {{'modal.register.activate.tooMuchErrorMsg' | i18n}}
                            <a class="more-devices" ng-click="toggleDevices($event)">{{'modal.register.activate.tooMuchErrorBtn' | i18n}}</a>{{'modal.register.activate.manageErrorMsg' | i18n}}
                        </div>
                    </div>
                    <div class="btn" ng-click="register()">{{'modal.register.activate.activateBtn' | i18n}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
