<div class="progress-dialog" ng-class="{'open' : isExporting}">
    <div class="progress-dialog-content" ng-if="isExporting">
        <div class="message">{{'progress.exporting.msg' | i18n}}...<span class="counter" ng-show="timeLeftInSeconds"> ({{timeLeftInSeconds | second2time}})</span></div>
        <div class="progressbar" ng-show="isExporting">
            <div class="current" style="width: {{curr/total*100}}%;"></div>
        </div>
        <div class="button button-xs button-grey cancel-button" ng-click="cancel()">{{'general.cancel' | i18n}}</div>
    </div>
</div>
<div class="progress-dialog-overlay"></div>