<div id="camera-filter-item" ng-right-click="clearCameraFilter($event)" class="filter-item" ng-class="{'active': isEnabled, 'hide-filter': !isEnabled && !eagle.filter.pinned[item.type]}" filter-item>
    <div class="name" title="{{displayName}}" tippy tippy-placement="bottom" tippy-content="{{preferences.shortcuts.keybinds['find.filter.camera'] | shortcutsWrapper | shortcuts}}"><img ng-src="assets/images/{{theme|themePath}}/icons/context-menu/ic-filter-item-camera.svg"><div>{{displayName}}</div></div>
    <input tabindex="-1" type="text" class="shortcut-input">
    <div class="menu-wrap"><div class="filter-menu" style="min-height: 40px; min-width: 200px;" ng-mousedown="$event.stopPropagation();">
        <div class="menu-content">
            <div class="empty" ng-show="eagle.filter.filterCameras.length === 0 || filtereds.length === 0">{{'filter.emptyMsg' | i18n}}</div>
            <div class="check-item" ng-repeat="camera in eagle.filter.filterCameras" ng-show="filtereds.length > 0 && eagle.filter.filterCounts['camera'][camera] > 0" ng-class="{'checked': eagle.filter.filterRules.camera[camera]}" ng-click="focusInput(); selectCamera(camera); page = 1; filterContent(); changeDisplayName();">
                <div class="check-icon">
                    <div class="checkbox"></div>
                </div>
                <div class="name">{{camera}}</div>
                <div class="badge">{{eagle.filter.filterCounts['camera'][camera] | number:0}}</div>
            </div>
        </div>
    </div></div>
    <div class="clear-btn" ng-click="clearCameraFilter($event)"><img ng-src="assets/images/{{theme|themePath}}/icons/ic-filter-clear-btn.png"></div>
</div>