<div class="modal folder-password-modal" ng-class="{'open': isOpen}" ng-if="isOpen">
    <div class="modal-header">
        <div class="name">{{'context.folder.password' | i18n}}</div>
        <div class="close" ng-click="folderPwdScope.cancel()"></div>
    </div>
    <div class="section">
        <div ng-show="folderPwdScope.mode == 'new'">
            <label for="">{{'modal.folderPassword.password' | i18n}}</label>
            <input id="new-folder-password-input" type="password" select-all placeholder="" ng-model="folderPwdScope.newPassword" auto-focus="SET-FOLDER-PASSWORD">
            <div class="margin-bottom-12"></div>
            <label for="">{{'modal.folderPassword.rePassword' | i18n}}</label>
            <input type="password" select-all placeholder="" ng-model="folderPwdScope.newRePassword">
            <div class="margin-bottom-12"></div>
            <label for="">{{'modal.folderPassword.passwordTips' | i18n}}</label>
            <textarea name="" id="" cols="30" rows="2" placeholder="" ng-model="folderPwdScope.passwordTips"></textarea>
        </div>

        <div ng-show="folderPwdScope.mode == 'change'">
            <label for="">{{'modal.folderPassword.oldPassword' | i18n}}</label>
            <input id="change-folder-password-input" type="password" select-all placeholder="" ng-model="folderPwdScope.oldPassword" auto-focus="SET-FOLDER-PASSWORD">
            <div class="margin-bottom-12"></div>
            <label for="">{{'modal.folderPassword.newPassword' | i18n}}</label>
            <input type="password" select-all placeholder="" ng-model="folderPwdScope.newPassword">
            <div class="margin-bottom-12"></div>
            <label for="">{{'modal.folderPassword.rePassword' | i18n}}</label>
            <input type="password" select-all placeholder="" ng-model="folderPwdScope.newRePassword">
            <div class="margin-bottom-12"></div>
            <label for="">{{'modal.folderPassword.passwordTips' | i18n}}</label>
            <textarea name="" id="" cols="30" rows="2" placeholder="" ng-model="folderPwdScope.passwordTips"></textarea>
        </div>

        <div ng-show="folderPwdScope.mode == 'reset'">
            <label for="">{{'modal.folderPassword.currentPassword' | i18n}}</label>
            <input id="reset-folder-password-input" type="password" select-all ng-model="folderPwdScope.oldPassword" auto-focus="SET-FOLDER-PASSWORD">
        </div>
    </div>
    <div class="section darken textAlign-right">
        <div ng-show="folderPwdScope.mode == 'new'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveNew' | i18n}}</div>
        <div ng-show="folderPwdScope.mode == 'change'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveChange' | i18n}}</div>
        <div ng-show="folderPwdScope.mode == 'reset'" class="button button-s button-block button-primary" ng-click="folderPwdScope.save()" ng-class="{'button-disabled': false}">{{'modal.folderPassword.saveReset' | i18n}}</div>
    </div>
</div>
<div class="modal-overlay"></div>