<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Eagle Text Editor</title>
	<link rel="stylesheet" href="css/text-editor.css">
</head>
        <!-- 'enter': escHandler,
        'esc': escHandler,
        'space': escHandler,
        'backspace': escHandler,
        'space': escHandler, -->
<body ng-app="TextEditor" class="{{theme}} {{language}}" ng-controller="TextEditorController"
	w-mousetrap="
    {
    	'0': removeStar,
        '1': changeTo1Star,
        '2': changeTo2Star,
        '3': changeTo3Star,
        '4': changeTo4Star,
        '5': changeTo5Star,
        'f5': refresh,
        'mod+r': refresh,
        'left': leftHandler,
        'right': rightHandler,
        'mod+=': zoomIn,
        'mod++': zoomIn,
        'mod+-': zoomOut,
        'mod+0': zoomFit,
        'mod+9': zoomFit,
        'mod+s': save,
        'mod+backspace': preventDefault,
        'del': preventDefault,
    }"
>
<!-- ng-dblclick="escHandler()" -->
	<input class="range" type="range" id="preview-size" name="preview-size" min="62.5" max="187.5" value="62.5" step="0.5" style="position: absolute; opacity: 0; pointer-events: none;">
	<div class="page-wrap" ng-show="isLoaded">
		<div class="page">
			<!-- <h4 
				id="title"
				contenteditable="plaintext-only"
				ng-model="newTitle"
	            ng-blur="changeName()"
	            ng-keydown="preventEnter($event)"
	            strip-br="false"
	            editable-selectall
			></h4> -->
			<!-- ng-model="content"
            ng-change="save();"
            ng-blur="save();"
            ng-keydown="preventEnter($event); contentChange();"
            strip-br="false" -->
			<div
				id="content"
				contenteditable="plaintext-only"
	            editable-selectall
			></div>
		</div>
	</div>
	<script>
		var throttle = function(fn, delay, immediate, debounce) {
	    var curr = +new Date(), //µ±Ç°ÊÂ¼þ
	        last_call = 0,
	        last_exec = 0,
	        timer = null,
	        diff, //Ê±¼ä²î
	        context, //ÉÏÏÂÎÄ
	        args,
	        exec = function() {
	            last_exec = curr;
	            fn.apply(context, args);
	        };
	    return function() {
	        curr = +new Date();
	        context = this,
	            args = arguments,
	            diff = curr - (debounce ? last_call : last_exec) - delay;
	        clearTimeout(timer);
	        if (debounce) {
	            if (immediate) {
	                timer = setTimeout(exec, delay);
	            } else if (diff >= 0) {
	                exec();
	            }
	        } else {
	            if (diff >= 0) {
	                exec();
	            } else if (immediate) {
	                timer = setTimeout(exec, -diff);
	            }
	        }
	        last_call = curr;
	    }
	};

	function debounce(func, wait, immediate) {
	    var timeout;
	    return function() {
	        var context = this,
	            args = arguments;
	        var later = function() {
	            timeout = null;
	            if (!immediate) func.apply(context, args);
	        };
	        var callNow = immediate && !timeout;
	        clearTimeout(timeout);
	        timeout = setTimeout(later, wait);
	        if (callNow) func.apply(context, args);
	    };
	};
	</script>
	<script src="../js/vendors/jquery-1.8.0.min.js"></script>
	<script src="../js/vendors/lodash.js"></script>
	<script src="../js/vendors/angular.min.js"></script>
	<script src="../js/vendors/mousetrap.min.js"></script>
	<script src="../js/modules/wMousetrap.js"></script>
	<script src="../js/modules/angular-contenteditable.js"></script>
	<script src="text-editor.js"></script>
</body>
</html>
